background:     #333333
foreground:     #FFFFFF

workspace_tags: 1,2,3,4,5
date_fmt:       %a %b %-d, %-I:%M:%S %p

battery_cmd:    /home/gabeg/.config/dwm/src/atlas/scripts/bat
wifi_cmd:       /home/gabeg/.config/dwm/src/atlas/scripts/wifi
volume_cmd:     /home/gabeg/.config/dwm/src/atlas/scripts/vol -p -v
brightness_cmd: /home/gabeg/.config/dwm/src/atlas/scripts/bright
