width:                1366
height:               20
background:           #333333
foreground:           #FFFFFF
orientation:          horizontal
workspace_tags:       1,2,3,4,5
workspace_background: #333333
workspace_highlight:  #999999
date_fmt:             %a %b %-d, %-I:%M:%S %p
workspace_font:       GohuFont
date_font:            GohuFont
workspace_font_size:  9
date_font_size:       9
brightness_cmd:       /home/gabeg/scripts/programs/brightness/bright
battery_cmd:          /home/gabeg/scripts/programs/battery/bat -c
wifi_cmd:             /home/gabeg/scripts/programs/wifi/wifi -s
volume_cmd:           /home/gabeg/scripts/programs/volume/vol -p -v
volume_mute_cmd:      /home/gabeg/scripts/programs/volume/vol -p -m
volume_player_cmd:    /usr/bin/pidof mocp
battery_icon_dir:     /home/gabeg/scripts/programs/atlas/c++/src/app/img/bat/
wifi_icon_dir:        /home/gabeg/scripts/programs/atlas/c++/src/app/img/wifi/
volume_icon_dir:      /home/gabeg/scripts/programs/atlas/c++/src/app/img/vol/
brightness_icon_dir:  /home/gabeg/scripts/programs/atlas/c++/src/app/img/bright/
